:root {
    --primary-color: #77b748;
    --text-color: #161823;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sectionspace {
    padding: 114px 0;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-weight: bold;
    font: 500 16px / 30px 'Work Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    li {
        position: relative;
        padding: 0 15px;
    }
    li + li ::before {
        content: '/';
        position: absolute;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
        color: #fff;
    }
    a {
        display: block;
        color: #fff;
    }
}

.rules {
    padding: 30px;
    border: 1px solid #ddd;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: 2px 2px 5px #ddd;
    background-color: #fbfcfa;

    ul {
        list-style: disc;
        padding-left: 40px;
        margin: 1em 0;
    }
}
