.rules {
    padding: 30px;
    border: 1px solid #ddd;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: 2px 2px 5px #ddd;
    background-color: #fbfcfa;

    ul {
        list-style: disc;
        padding-left: 40px;
        margin: 1em 0;
    }
}
